In [1]:
import os
import pyspark
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [3]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/opt/spark"
spark_loca = "local[*]"
spark = SparkSession.builder.master(spark_loca).getOrCreate()

In [4]:
# Sample emp data
# this cell will be longer, as add the dummy data but almost similar to real data
data = [(1, "AA", "dept1", 7500, "F", "2017-02-10 9:30:00"),
       (2, "BB", "dept1", 7500, "M", "2018-04-10 9:30:00"),
       (3, "CC", "dept2", 9500, "M", "2019-01-01 10:30:00"),
       (4, "DD", "dept3", 4500, "O", "2017-04-10 9:30:00"),
       (5, "EE", "dept3", 6000, "M", "2017-04-10 9:30:00"),
       (6, "FF", "dept4", 7500, "O", "2017-04-10 9:30:00"),
       (7, "GG", "dept4", 8000, "F", "2017-04-10 9:30:00"),
       (8, "HH", "dept5", 5000, "F", "2017-04-10 9:30:00"),
       (9, "II", "dept5", 4500, "F", "2018-01-01 9:15:00"),
       (10, "JJ", "dept5", 6500, "F", "2019-02-10 10:30:00")
      ]

In [5]:
# Define the Spark datatye here
labels = [
     ('id', IntegerType()),
     ('name', StringType()),
     ('dept', StringType()),
     ('salary', IntegerType()),
     ('Sex', StringType()),
     ('hired_date', StringType())
]
schema = StructType([StructField(x[0], x[1], True) for x in labels])

In [6]:
# create dataframe here
emp_df = spark.createDataFrame(data=data, schema=schema)

In [7]:
emp_df.show(truncate=False)

+---+----+-----+------+---+-------------------+
|id |name|dept |salary|Sex|hired_date         |
+---+----+-----+------+---+-------------------+
|1  |AA  |dept1|7500  |F  |2017-02-10 9:30:00 |
|2  |BB  |dept1|7500  |M  |2018-04-10 9:30:00 |
|3  |CC  |dept2|9500  |M  |2019-01-01 10:30:00|
|4  |DD  |dept3|4500  |O  |2017-04-10 9:30:00 |
|5  |EE  |dept3|6000  |M  |2017-04-10 9:30:00 |
|6  |FF  |dept4|7500  |O  |2017-04-10 9:30:00 |
|7  |GG  |dept4|8000  |F  |2017-04-10 9:30:00 |
|8  |HH  |dept5|5000  |F  |2017-04-10 9:30:00 |
|9  |II  |dept5|4500  |F  |2018-01-01 9:15:00 |
|10 |JJ  |dept5|6500  |F  |2019-02-10 10:30:00|
+---+----+-----+------+---+-------------------+

In [8]:
emp_df.filter(emp_df['dept'] == 'dept1').show(truncate=False)

+---+----+-----+------+---+------------------+
|id |name|dept |salary|Sex|hired_date        |
+---+----+-----+------+---+------------------+
|1  |AA  |dept1|7500  |F  |2017-02-10 9:30:00|
|2  |BB  |dept1|7500  |M  |2018-04-10 9:30:00|
+---+----+-----+------+---+------------------+