In [32]:
import os
import pyspark
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [33]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/opt/spark"
spark_loca = "local[*]"
spark = SparkSession.builder.master(spark_loca).getOrCreate()

In [34]:
# Sample emp data
# this cell will be longer, as add the dummy data but almost similar to real data
emp = [("MR-001", "Alice", "Market Research", 7500, "F", "2017-02-10 9:30:00"),
       ("MR-002", "Bob", "Market Research", 7500, "M", "2018-04-10 9:30:00"),
       ("MR-003", "John", "Market Research", 9500, "M", "2019-01-01 10:30:00"),
       ("M-001", "Jonathan", "Marketing", 4500, "O", "2017-04-10 9:30:00"),
       ("M-002", "Ethan", "Marketing", 6000, "M", "2017-04-10 9:30:00"),
       ("M-003", "Elyra", "Marketing", 7500, "O", "2017-04-10 9:30:00"),
       ("M-004", "Sophia", "Marketing", 8000, "F", "2017-04-10 9:30:00"),
       ("M-005", "Mia", "Marketing", 5000, "F", "2017-04-10 9:30:00"),
       ("M-006", "Ava", "Marketing", 4500, "F", "2018-01-01 9:15:00"),
       ("M-007", "Olivia", "Marketing", 6500, "F", "2019-02-10 10:30:00"),
       ("M-008", "Luca", "Marketing", 3000, "M", "2019-05-01 9:15:00"),
       ("HR-001", "James", "Human Resource", 4500, "M", "2018-10-01 9:30:00"),
       ("HR-002", "Robert", "Human Resource", 5500, "M", "2018-10-01 9:30:00"),
       ("HR-003", "Joseph", "Human Resuorce", 6000, "M", "2019-01-01 10:30:00"),
       ("HR-004", "Mark", "Human Resource", 3500, "O", "2019-02-01 9:30:00"),
       ("HR-005", "Chloe", "Human Resource", 9000, "F", "2019-02-02 9:30:00"),
       ("HR-006", "Hazel", "Human Resource", 5500,  "F", "2019-05-01 9:30:00"),
       ("HR-007", "Zoey", "Human Resource", 4500, "F", "2019-06-01 9:30:00"),
       ("S-001", "Grace", "Sale", 8000, "F", "2017-04-10 9:30:00"),
       ("S-002", "Avery", "Sale", 6000, "F", "2017-04-10 9:30:00"),
       ("S-003", "Charles", "Sale", 5000, "M", "2017-04-10 9:30:00"),
       ("S-004", "Andrew", "Sale", 4500, "M", "2017-04-10 9:30:00"),
       ("S-005", "Paul", "Sale", 9500, "O", "2017-04-10 9:30:00"),
       ("S-006", "Joshua", "Sale", 4500, "M", "2017-04-10 9:30:00"),
       ("S-007", "Steven", "Sale", 5000, "M", "2017-04-10 9:30:00"),
       ("S-008", "Bella", "Sale", 4500, "F", "2017-04-10 9:30:00"),
       ("S-009", "Elena", "Sale", 5000, "X", "2018-02-10 9:30:00"),
       ("S-010", "Skylar", "Sale", 3500, "F", "2018-02-04 9:30:00"),
       ("S-011", "Maya", "Sale", 3500, "F", "2018-05-05 9:30:00"),
       ("S-012", "Sophie", "Sale", 3500, "X", "2018-05-05 9:30:00"),
       ("S-013", "Sara", "Sale", 8000, "F", "2018-06-01 9:30:00"),
       ("S-014", "Ada", "Sale", 5000, "X", "2018-06-01 9:30:00"),
       ("S-015", "Peter", "Sale", 3500, "M", "2018-10-01 9:30:00"),
       ("S-016", "Carl", "Sale", 3500, "M", "2018-10-01 9:30:00"),
       ("S-017", "Terry", "Sale", 3500, "X", "2018-10-01 9:30:00"),
       ("S-018", "Ethan", "Sale", 3500, "X", "2018-11-01 9:30:00"),
       ("S-019", "Ethan", "Sale", 3500, "M", "2018-11-01 9:30:00"),
       ("S-020", "Lola", "Sale", 6500, "F", "2018-11-01 9:30:00"),
       ("CS-001", "Olive", "Customer Service", 6000, "X", "2018-01-01 9:30:00"),
       ("CS-002", "Larry", "Customer Service", 6000, "X", "2018-01-01 9:30:00"),
       ("CS-003", "Jeffrey", "Customer Service", 9000, "X", "2018-01-01 10:30:00"),
       ("CS-004", "Alani", "Customer Service", 4500, "X", "2018-02-01 9:30:00"),
       ("F-001", "Frank", "Finance and Accounting", 9000, "M", "2017-04-10 10:30:00"),
       ("F-002", "Peter", "Finance and Accounting", 11500, "M", "2017-04-10 10:30:00"),
       ("F-003", "Nathan", "Finance and Accounting", 8500, "M", "2017-08-10 10:30:00"),
       ("F-004", "Walter", "Finace and Accounting", 9000, "M", "2018-10-01 10:30:00"),
       ("IT-001", "Roger", "IT", 4500, "M", "2018-12-01 9:30:00"),
       ("IT-002", "Philip", "IT", 4500, "M", "2018-12-01 9:20:00"),
       ("SEC-001", "Gabriel", "Security", 8000, "M", "2017-04-10 10:30:00"),
       ("SEC-002", "Bruce", "Security", 6500, "M", "2017-04-10 10:30:00"),
       ("SEC-003", "Arthur", "Security", 4500, "M", "2018-01-01 9:30:00"),
       ("SEC-004", "Noah", "Security", 4500, "M", "2018-01-01 9:30:00"),
       ("SEC-005", "Jerry", "Security", 3500, "M", "2018-01-01 9:30:00"),
       ("SEC-006", "Adam", "Security", 3500, "M", "2018-05-01 9:30:00")
      ]

In [35]:
# Define the Spark datatye here
labels = [
     ('id', StringType()),
     ('name', StringType()),
     ('dept', StringType()),
     ('salary', IntegerType()),
     ('Sex', StringType()),
     ('hired_date', StringType())
]
schema = StructType([StructField(x[0], x[1], True) for x in labels])

In [36]:
# create dataframe here
emp_df = spark.createDataFrame(data=emp, schema=schema)

In [37]:
emp_df.show(truncate=False)

+------+--------+---------------+------+---+-------------------+
|id    |name    |dept           |salary|Sex|hired_date         |
+------+--------+---------------+------+---+-------------------+
|MR-001|Alice   |Market Research|7500  |F  |2017-02-10 9:30:00 |
|MR-002|Bob     |Market Research|7500  |M  |2018-04-10 9:30:00 |
|MR-003|John    |Market Research|9500  |M  |2019-01-01 10:30:00|
|M-001 |Jonathan|Marketing      |4500  |O  |2017-04-10 9:30:00 |
|M-002 |Ethan   |Marketing      |6000  |M  |2017-04-10 9:30:00 |
|M-003 |Elyra   |Marketing      |7500  |O  |2017-04-10 9:30:00 |
|M-004 |Sophia  |Marketing      |8000  |F  |2017-04-10 9:30:00 |
|M-005 |Mia     |Marketing      |5000  |F  |2017-04-10 9:30:00 |
|M-006 |Ava     |Marketing      |4500  |F  |2018-01-01 9:15:00 |
|M-007 |Olivia  |Marketing      |6500  |F  |2019-02-10 10:30:00|
|M-008 |Luca    |Marketing      |3000  |M  |2019-05-01 9:15:00 |
|HR-001|James   |Human Resource |4500  |M  |2018-10-01 9:30:00 |
|HR-002|Robert  |Human Resource |5500  |M  |2018-10-01 9:30:00 |
|HR-003|Joseph  |Human Resuorce |6000  |M  |2019-01-01 10:30:00|
|HR-004|Mark    |Human Resource |3500  |O  |2019-02-01 9:30:00 |
|HR-005|Chloe   |Human Resource |9000  |F  |2019-02-02 9:30:00 |
|HR-006|Hazel   |Human Resource |5500  |F  |2019-05-01 9:30:00 |
|HR-007|Zoey    |Human Resource |4500  |F  |2019-06-01 9:30:00 |
|S-001 |Grace   |Sale           |8000  |F  |2017-04-10 9:30:00 |
|S-002 |Avery   |Sale           |6000  |F  |2017-04-10 9:30:00 |
+------+--------+---------------+------+---+-------------------+
only showing top 20 rows

In [39]:
emp_df.filter(emp_df['dept'] == 'Sale').show(truncate=False)

+-----+-------+----+------+---+------------------+
|id   |name   |dept|salary|Sex|hired_date        |
+-----+-------+----+------+---+------------------+
|S-001|Grace  |Sale|8000  |F  |2017-04-10 9:30:00|
|S-002|Avery  |Sale|6000  |F  |2017-04-10 9:30:00|
|S-003|Charles|Sale|5000  |M  |2017-04-10 9:30:00|
|S-004|Andrew |Sale|4500  |M  |2017-04-10 9:30:00|
|S-005|Paul   |Sale|9500  |O  |2017-04-10 9:30:00|
|S-006|Joshua |Sale|4500  |M  |2017-04-10 9:30:00|
|S-007|Steven |Sale|5000  |M  |2017-04-10 9:30:00|
|S-008|Bella  |Sale|4500  |F  |2017-04-10 9:30:00|
|S-009|Elena  |Sale|5000  |X  |2018-02-10 9:30:00|
|S-010|Skylar |Sale|3500  |F  |2018-02-04 9:30:00|
|S-011|Maya   |Sale|3500  |F  |2018-05-05 9:30:00|
|S-012|Sophie |Sale|3500  |X  |2018-05-05 9:30:00|
|S-013|Sara   |Sale|8000  |F  |2018-06-01 9:30:00|
|S-014|Ada    |Sale|5000  |X  |2018-06-01 9:30:00|
|S-015|Peter  |Sale|3500  |M  |2018-10-01 9:30:00|
|S-016|Carl   |Sale|3500  |M  |2018-10-01 9:30:00|
|S-017|Terry  |Sale|3500  |X  |2018-10-01 9:30:00|
|S-018|Ethan  |Sale|3500  |X  |2018-11-01 9:30:00|
|S-019|Ethan  |Sale|3500  |M  |2018-11-01 9:30:00|
|S-020|Lola   |Sale|6500  |F  |2018-11-01 9:30:00|
+-----+-------+----+------+---+------------------+